language: go

go:
  - tip

env:
  - GIMME_OS=linux GIMME_ARCH=386
  - GIMME_OS=darwin GIMME_ARCH=386
  - GIMME_OS=windows GIMME_ARCH=386
  - GIMME_OS=linux GIMME_ARCH=amd64
  - GIMME_OS=darwin GIMME_ARCH=amd64
  - GIMME_OS=windows GIMME_ARCH=amd64

install:
  - go get -d -v ./...

script:
  - go test -v ./... b0x.json